<%= form_with(model: shoe, local: true, :builder => MyMdlFormBuilder) do |form| %>
  <%= form.text_field :model, id: :shoe_model %>
  <%= form.text_field :brand, id: :shoe_brand %>
  <%= form.text_field :isbn, id: :shoe_isbn %>
  <%= form.number_field :release_year, id: :shoe_release_year %>
  <%= form.number_field :sku, id: :shoe_sku %>
  <% if shoe.photo? %>
    <%= image_tag(shoe.photo_url(:thumb).to_s) %>
    <%= form.check_box :remove_photo %> Remove picture
  <% else %>
    <%= form.file_field :photo, id: :shoe_photo %> 
  <% end %>
  <br><br>
  <button type='submit' class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Save</button>
<% end %>
