<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h6 class="mdl-card__title-text">Shoe Details</h6>
      </div>
      <div class="mdl-card__supporting-text">
        <%= attribute_shoe 'M', :model, @shoe.model %><br>
        <%= attribute_shoe 'B', :brand, @shoe.brand %><br>
        <%= attribute_shoe 'I', :isbn, @shoe.isbn %><br>
        <%= attribute_shoe 'Y', :release_year, @shoe.release_year %><br>
        <%= attribute_shoe 'S', :sku, @shoe.sku %><br>
        <br><br>
        <div class="shoes__show_photo"><!-- Ugly but faster -->
          <%= image_tag(@shoe.photo_url.to_s, size: "200x200") %>  
          <p class="shoes__photo_description"> <%= "#{@shoe.brand} - #{@shoe.model}" %></p>          
        </div>
      </div>
    </div>  
    <br>
    <%= link_to 'Edit', edit_shoe_path(@shoe) %> | <%= link_to 'Back', shoes_path %>
  </div>    
</div>
