<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @shoe.model %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @shoe.brand %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @shoe.isbn %>
</p>

<p>
  <strong>Release year:</strong>
  <%= @shoe.release_year %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @shoe.sku %>
</p>

<%= link_to 'Edit', edit_shoe_path(@shoe) %> |
<%= link_to 'Back', shoes_path %>
