<!DOCTYPE html>
<html>
  <head>
    <title>ShoeStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <%= link_to 'Shoe Store', root_path, class: 'mdl-layout-title site-title' %>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <%=link_to t(".shoes"), shoes_path, class: 'mdl-navigation__link' %>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Shoe Store</span>
        <nav class="mdl-navigation">
          <%=link_to t(".shoes"), shoes_path, class: 'mdl-navigation__link' %>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid"><%= yield %></div>
        </div>
      </main>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">
            A subdivision of Rocketpin companies
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
